body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Comic Neue", sans-serif;
    color: #fff;
    background-color: #000;
}

.rh-logo {
    height: 150px;
    width: 150px;
    position: absolute;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.frase {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.frase p {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    margin: 10px 0;
}

.frase button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #800000;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
}

.frase button:hover,
.all-phrases button:hover {
    background-color: #993333;
}

.todas-frases {
    margin-top: 40px;
    padding: 20px;
    text-align: justify;
}

.todas-frases h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.all-phrases {
    height: 70px;
    width: 300px;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: #800000;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.todas-frases ul li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.linha-frase {
    font-weight: bold;
    font-size: 1.1em;
}

.linha-autor {
    font-size: 0.9em;
    color: #555555;
    margin-top: 3px;
}

footer {
    align-items: end;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    gap: 5px;
}

.app {
    display: flex;
    gap: 10px;
}

.instagram,
.github {
    display: flex;
    flex-direction: column;
    gap: 2.7px;
}

.gustavovidal,
.pyetroferreira {
    gap: 2px;
    display: flex;
}

.svg {
    height: 15px;
    width: 15px;
}

/*iPad Mini - TABLET*/
@media(max-width: 1024px) {
    .frase {
        max-width: 600px;
    }

    .frase p {
        font-size: 37px;
    }

    .todas-frases h2 {
        font-size: 40px;
    }

    .linha-frase {
        font-size: 30px;
    }

    .linha-autor {
        font-size: 27px;
    }

    footer {
        font-size: 20px;
    }

    .svg {
        height: 20px;
        width: 20px;
    }
}

/*iPhone SE - MOBILE*/
@media(max-width: 480px) {
    .rh-logo {
        height: 100px;
        width: 100px;
    }

    .frase {
        max-width: 290px;
    }

    .frase p {
        font-size: 20px;
    }

    button {
        font-size: 20px;
    }

    .todas-frases h2 {
        font-size: 30px;
    }

    .linha-frase {
        font-size: 20px;
    }

    .linha-autor {
        font-size: 16px;
    }

    footer {
        align-items: center;
        font-size: 13px;
    }

    .dev-by {
        font-size: 16px;
    }

    .app {
        gap: 7px;
    }

    .svg {
        height: 20px;
        width: 20px;
    }
}