body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Comic Neue", sans-serif;
}

main {
    background-color: #900099;
    flex-grow: 1;
}

.frase {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 275px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

.frase p {
    font-size: 13px;
    font-weight: 700;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #800000;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #993333;
}
