*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: green;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: black;
    display: flex;
    padding: 20px;
}

.botao{
    height: 50px;
    width: 100px;
    background-color: blue;

}